.accordian {
    border: 1px solid grey;
  }
  input {
    display: none;
  }
  label {
    font-size: 30px;
    background-color: lightblue;
    display: block;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    position: relative;
    user-select: none;
  }
  label:before {
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    height:0;
    font-size: 0;
    position: absolute;
    top: 18px;
    left: 10px;
    transition: transform 0.5s;
    transform-origin: 3px center;
  }
  .accordian div {
    font-size: 26px;  
    height:0;
    overflow:hidden;
    opacity:0;
  }
  input:checked ~ label:before {
    transform: rotate(90deg)
  }
  input:checked ~ div {
    padding: 10px;
    opacity: 1;
    height: auto;
  }